header {
  line-height: 1.8rem;
}
header .site-branding {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Microsoft YaHei", "黑体", "Open Sans", arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: none;
}
header .site-branding .site-title {
  margin: 0;
  font-size: 2rem;
}
header .site-branding .site-title a {
  display: inline-block;
  color: #fff;
  font-weight: bolder;
  background-color: #f03838;
  line-height: 4rem;
  height: 4rem;
  padding: 0 1rem;
  -webkit-transition: padding 0.3s ease-out;
  transition: padding 0.3s ease-out;
}
header .site-branding .site-title a:hover {
  padding: 0 1.5rem;
}
header .site-branding .site-description {
  color: #9e9e9e;
  font-size: 1.6rem;
  margin: 1rem 0 0;
}
header .site-navigation {
  text-align: center;
}
header .site-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.6em;
}
header .site-navigation ul li {
  display: inline-block;
  margin: 0 0.5rem;
}
header .site-navigation ul li a {
  display: block;
  color: #f03838;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0 1rem;
}
